.fw-100 {
    width: 100px;

}

.fw-200 {
    width: 200px;

}

.fw-300 {
    width: 300px;

}

.fw-400 {
    width: 400px;

}

.fw-500 {
    width: 500px;

}

.fw-600 {
    width: 600px;

}

.fw-700 {
    width: 700px;

}

.fw-800 {
    width: 800px;

}

.fw-900 {
    width: 900px;

}

.fw-1000 {
    width: 1000px;

}